# Compiled class file
# Log filePane
# BlueJ files
# Mobile Tools for Java (J2ME)
# Package Files #
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
.idea/
jexplorer.iml
out/
jexplorer.config
META-INF/
*.mf
jexplorer.json