#drivePane {}
#drivePane:hover {-fx-background-color: derive(cornflowerblue, 85%);}

#filePane {
	
}
#filePane:hover {-fx-background-color: derive(cornflowerblue, 85%);}
#filePaneOdd {
	-fx-background-color: rgba(127, 127, 127, 0.1);
}
#filePaneOdd:hover {-fx-background-color: derive(cornflowerblue, 85%);}
#filePaneText {-fx-text-fill: grey}

#stackMenu {
	-fx-background-color:#eeeeee; 
	-fx-opacity:1; 
	-fx-background-radius: 5px;
}
#context {
	-fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 1 3 1 3;
	-fx-text-box-border: transparent;
}